
.list-group-item {
    display: list-item;
    margin-left: 50px;
}

code span.op {
    color: #f56d6d;
  }
  
  code span.st {
      color: #f5dd7e;
  }
  
  code span.ot {
      color: #be8fef;
  }
  
  code span.kw {
    color: #f77979;
  }

  code span.kw2 {
    color: #46e7b1;
  }

  code span.sm {
    color: #eeae48;
  }

  code span.token.keyword {
    color: #f77979;
  }
  
  code span.dv {
    color: #76ffd5;
  }
  
  code span.fl {
    color: #f1e5bd;
  }
  
  code span.token.punctuation {
    color: #e9c961;
  }

  p code, li code {
    color: #333;
    background-color: #eaddb8;
  }

  code.inline-code {
    color: #fff;
    background-color: #272822;
    padding: 3px 13px;
    border-radius: 5px;
  }

  h1.title {
      font-size: 40px;
      color: #444;
      margin: 10px 0;
  }
  
  .header-section-number::after {
    content: "-";
  }
  
  .section h1 {
    padding: 80px 0px 30px;
    margin-top: 0px;
  }
  
  .section h2 {
      padding: 80px 0px 20px;
      margin-top: -66px;
  }
  
  h3 {
      padding: 80px 0px 20px;
      margin-top: -66px;
  }
  
  ul .tocify ul, .tocify li {
      line-height: 20px;
      background-color: #EFEFEF;
      color: #333;
  }
  
  div.main-container {
      max-width: 1450px;
  }
  
  p { 
    color: #555;
    font-size: 1.2em;
  }
  
  ul, li {
    font-size: 18px;
  }
  
  .spoiler {
    visibility: hidden;
  }
  
  .spoiler::before {
    visibility: visible;
    color: #EB6864;
    font-weight: bold;
    content: "Spoiler!"
  }
  
  .spoiler:hover {
    visibility: visible;
  }
  
  .spoiler:hover::before {
    display: none;
  }
  
  .img-responsive {
      width: auto;
      height: 120px;
      padding: 15px;
      margin: auto;
      max-height: 90px;
      max-width: 250px;
  }